# SQLite in Python

SQLite is a lightweight, fast and embedded SQL database engine. SQLite is perfect for small to medium-sized applications, prototyping, embedded systems and local data storage in Python applications because it doesn't require a separate server process like other relational database management systems (RDBMS) like MySQL or PostgreSQL.

SQLite does not require a server to run. SQLite database read and write directly from the database files stored on disk and applications interact with that SQLite database. It is one of SQLite's biggest advantages is that it is serverless. Here's what that means:

- There is no separate server process to manage. The SQLite engine is embedded directly into the application.
- All you need is the SQLite database file, your program can read from and write to it without connecting to a remote service.
- This reduces overhead, setup complexity and dependencies, making SQLite perfect for desktop apps, mobile apps, IoT devices or lightweight data-driven Python scripts.

## Self-Contained

SQLite is self-contained, here's what it means:

- It has no external dependencies. Everything it needs is included in a single library.
- The entire database (schema + data) is stored in a single .sqlite or .db file.
- This file can be copied, backed up, shared or moved like any other document.

Key benefits of being Self-Contained:

- Portability: Move the database file across machines or platforms without worrying about data loss or corruption.
- Integration: Easily bundle SQLite databases within applications, especially Python packages or tools.

## Zero-Configuration

Unlike other databases, SQLite requires zero setup:

- No configuration files or startup services are needed.
- You can start using SQLite as soon as you import the sqlite3 module in Python.
- We can simply connect to a database file and if it doesn’t exist, SQLite automatically creates it.

## Transactional

SQLite supports full ACID (Atomicity, Consistency, Isolation, Durability) transactions:

- Every operation in SQLite is atomic, i.e changes are either fully applied or not applied at all.
- By default, SQLite wraps commands like INSERT, UPDATE and DELETE inside implicit transactions, ensuring data integrity.

## Single-Database

SQLite uses a single-file database architecture, meaning:

- The entire database, i.e. tables, indexes, triggers and data, lives in a single file only.
- This simplifies database management, as there's no need to manage multiple configuration or log files.
- The file can be used across different platforms, tools and programming languages.

Benefits of Single-File Storage:

- Easy to deploy and backup.
- Makes testing and debugging easier.
- Supports concurrent read operations (though writes are serialized).

    import sqlite3: imports Python’s built-in SQLite module, which allows interaction with SQLite databases.

In [34]:
import sqlite3

In [35]:
# Connect to the SQLite database
connection = sqlite3.connect('employees.db')
connection

In [36]:
cursor = connection.cursor()

In [37]:
# Create a table
cursor.execute(
    """
    Create Table If Not Exists employees(
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        age INTEGER,
        department TEXT
    )
"""
)

## Commit the changes
connection.commit()

In [38]:
cursor.execute("""Select * from employees""")

In [39]:
# Insert data into the table
cursor.execute(
    """
    Insert Into employees(name, age, department)
    Values('Harsh', 20, 'BlockChain Development')
"""
)

# Commit the changes
connection.commit()

In [40]:
cursor.execute(
    """
    Insert Into employees(name, age, department)
    Values('Dev', 20, 'Ai/Ml Development'),
        ('Palak', 15, 'Mathematics')
"""
)

# Commit the changes
connection.commit()

In [43]:
cursor.execute("""Select * from employees""")
rows = cursor.fetchall()

# print the queried data
for row in rows:
    print(row)

(1, 'Harsh', 20, 'BlockChain Development')
(2, 'Dev', 20, 'Ai/Ml Development')
(3, 'Dev', 20, 'Ai/Ml Development')
(4, 'Palak', 15, 'Mathematics')
(5, 'Dev', 20, 'Ai/Ml Development')
(6, 'Palak', 15, 'Mathematics')
(7, 'Dev', 20, 'Ai/Ml Development')
(8, 'Palak', 15, 'Mathematics')
(9, 'Harsh', 20, 'BlockChain Development')
(10, 'Dev', 20, 'Ai/Ml Development')
(11, 'Palak', 15, 'Mathematics')

In [44]:
# Update data in the table
cursor.execute(
    """
    Update employees
    Set age = 21
    Where name = 'Harsh'
"""
)

connection.commit()

In [45]:
cursor.execute("""Select * from employees""")
rows = cursor.fetchall()

# print the queried data
for row in rows:
    print(row)

(1, 'Harsh', 21, 'BlockChain Development')
(2, 'Dev', 20, 'Ai/Ml Development')
(3, 'Dev', 20, 'Ai/Ml Development')
(4, 'Palak', 15, 'Mathematics')
(5, 'Dev', 20, 'Ai/Ml Development')
(6, 'Palak', 15, 'Mathematics')
(7, 'Dev', 20, 'Ai/Ml Development')
(8, 'Palak', 15, 'Mathematics')
(9, 'Harsh', 21, 'BlockChain Development')
(10, 'Dev', 20, 'Ai/Ml Development')
(11, 'Palak', 15, 'Mathematics')

In [46]:
# Delete data from the table
cursor.execute(
    """
    Delete From employees
    Where id >= 3
"""
)

# Commit the changes
connection.commit()

In [47]:
cursor.execute("""Select * from employees""")
rows = cursor.fetchall()

# print the queried data
for row in rows:
    print(row)

(1, 'Harsh', 21, 'BlockChain Development')
(2, 'Dev', 20, 'Ai/Ml Development')

In [48]:
# Insert Bulk data into the table
data = [
    ("Dev", 20, "Ai/Ml Development"),
    ("Palak", 15, "Mathematics"),
    ("Harsh", 20, "BlockChain Development"),
    ("Rohit", 22, "Web Development"),
    ("Ankit", 23, "Data Science"),
    ("Ravi", 24, "Cyber Security"),
    ("Sita", 21, "Software Engineering"),
    ("Gita", 19, "Cloud Computing"),
    ("Rahul", 25, "Game Development"),
    ("Priya", 18, "Mobile App Development"),
]

cursor.executemany(
    "Insert Into employees(name, age, department) Values (?, ?, ?)", data
)

connection.commit()

In [49]:
cursor.execute("""Select * from employees""")
rows = cursor.fetchall()

# print the queried data
for row in rows:
    print(row)

(1, 'Harsh', 21, 'BlockChain Development')
(2, 'Dev', 20, 'Ai/Ml Development')
(12, 'Dev', 20, 'Ai/Ml Development')
(13, 'Palak', 15, 'Mathematics')
(14, 'Harsh', 20, 'BlockChain Development')
(15, 'Rohit', 22, 'Web Development')
(16, 'Ankit', 23, 'Data Science')
(17, 'Ravi', 24, 'Cyber Security')
(18, 'Sita', 21, 'Software Engineering')
(19, 'Gita', 19, 'Cloud Computing')
(20, 'Rahul', 25, 'Game Development')
(21, 'Priya', 18, 'Mobile App Development')

In [50]:
# close the connection
connection.close()